<%- model_class = User -%>
<div class="container">
  <div class"hero-unit">
    <div class="row">
      <div class="span12">
        <h1>Congratulations!<h1>
        <h2>You are almost done!<h2>
        <p>
          An email containing a confirmation link has been sent to your email address. All you need to do is click the confirmation link to confirm this is your email address and you are done.
        </p>
      </div>
    </div>
  </div>
</div>
